{% extends 'base.html' %}

{% block content %}
<main class="container">
    <h1 class="pb-2">{{title}}</h1>
    <br>
    <main class="form-signin mx-auto" style="width: 50%;">
        <form action="{% url 'add_equipment' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-error">{{ form.non_field_errors }}</div>
            <div class="form-error">{{ form.errors }}</div>
            <div style="margin-bottom: 10px;"><span style="font-weight: normal;">Марка оборудования:</span></div>
            <div style="margin-bottom: 10px;">{{ form.mark }}</div>
             <div style="margin-bottom: 10px;"><span style="font-weight: normal;">Модель оборудования:</span></div>
            <div style="margin-bottom: 10px;">{{ form.model }}</div>
             <div style="margin-bottom: 10px;"><span style="font-weight: normal;">Цена оборудования:</span></div>
            <div style="margin-bottom: 10px;">{{ form.price }}</div>
             <div style="margin-bottom: 10px;"><span style="font-weight: normal;">Срок обслуживания:</span></div>
            <div style="margin-bottom: 10px;">{{ form.srok_sl }}</div>
             <div style="margin-bottom: 10px;"><span style="font-weight: normal;">Гарантия:</span></div>
            <div style="margin-bottom: 10px;">{{ form.garantiya }}</div>
             <div style="margin-bottom: 10px;"><span style="font-weight: normal;">Бренд:</span></div>
            <div style="margin-bottom: 10px;">{{ form.brand }}</div>
            <div style="margin-bottom: 10px;"><span style="font-weight: normal;">Страна производства оборудования:</span></div>
            <div style="margin-bottom: 10px;">{{ form.country }}</div>
            <div style="margin-bottom: 10px;"><span style="font-weight: normal;">Дата производства оборудования (Формат: ДД.ММ.ГГГГ):</span></div>
            <div style="margin-bottom: 10px;">
                {{ form.date_release }}
                <div style="color: red;">{{ form.date_release.errors }}</div>
            </div>
            <button class="btn btn-primary w-100 py-2" type="submit">Добавить</button>
        </form>
    </main>
</main>
{% endblock %}
