{% extends 'base.html' %}
{% block content %}
<main class="container">
    <h1 class="pb-2">{{title}}</h1>
    <br>
    <div class="form-signin mx-auto" style="width: 50%;">
        <form action="{% url 'add_requestjob' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-error">{{ form.non_field_errors }}</div>
            <div class="form-error">{{ form.errors }}</div>
            <div style="margin-bottom: 10px;"><span style="font-weight: normal;">Вид работы:</span></div>
            <div style="margin-bottom: 10px;">{{ form.id_work }}</div>
            <div style="margin-bottom: 10px;"><span style="font-weight: normal;">Оборудование:</span></div>
            <div style="margin-bottom: 10px;">{{ form.equipment }}</div>
            <div style="margin-bottom: 10px;"><span style="font-weight: normal;">Примечание:</span></div>
            <div style="margin-bottom: 10px;">{{ form.note }}</div>
            <button class="btn btn-primary w-100 py-2" type="submit">Добавить</button>
        </form>
    </div>
</main>
{% endblock %}