{% extends 'base.html' %}

{% block content %}
<main class="container">
    <h1 class="pb-2">{{title}}</h1>
    <br>
    <div class="bg-body-tertiary p-4 rounded mb-4" style="background-color: #f8f9fa;">
        <h3>{{pos.name}}</h3>
        <form class="lead" method="post">
            {% csrf_token %}
            <div><strong>Продолжительность:</strong> {{pos.duration}}</div>
            <div><strong>Цена:</strong> {{pos.price}}</div>
            <div><strong>Примечание:</strong> {{pos.note}}</div>
            <input type="submit" class="btn btn-warning" value="Удалить">
            <a href="{% url 'works'%}" class="btn btn-primary">Отмена</a>
        </form>
    </div>
</main>
{% endblock %}