{% extends 'base.html' %}
 
{% block content %}
<main class="container">
    <h1 class="pb-2">{{title}}</h1>
    <div class="bg-body-tertiary p-4 rounded mb-4" style="background-color: #f8f9fa;">
        <h3>{{post.username}}</h3>
        <div class="lead">
            <div><strong>Имя:</strong> {{post.first_name}}</div>
            <div><strong>Фамилия:</strong> {{post.last_name}}</div>
            <div><strong>Группа:</strong>
                {% if post.groups %}
                    {{ post.groups }}
                {% else %}
                    не назначен
                {% endif %}
            </div>
        </div>
    </div>
</main>
{% endblock %}